<ul>
{% for item in site.data.credits %}
{% if item.direct == include.direct and item.type == include.type %}
<li style="list-style-type: '{% include symbol.html symbol=item.origin %} '">{% if item.url %}<a href="{{ item.url }}" target="_blank">{% endif %}{{ item.credit }}{% if item.url %}</a>{% endif %}</li>
<ul>
{% for contribution in item.contributions %}
<li style="list-style-type: {% if contribution.paid == true or contribution.pro == true or contribution.inspire == true %}'{% if contribution.paid == true %} {% include symbol.html symbol='dollar' %} {% endif %}{% if contribution.pro == true %}{% include symbol.html symbol='money' %} {% endif %}{% if contribution.inspire %}{% include symbol.html symbol='bulb' %} '{% endif %}{% else %}disc{% endif %}">{% if contribution.url %}<a href="{{ contribution.url }}" target="_blank">{% endif %}{{ contribution.title }}{% if contribution.url %}</a>{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
</ul>