<div class="table" markdown=0>
  <table class="full borders smallest">
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Year</th>
      <th>Attribution</th>
      <th>Licence</th>
    </tr>
    {% for item in site.data.gallery %}
    <tr>
      <td><a href="{{ item.full }}" target="_blank"><img src="{{ item.thumb }}" width="50" alt="Click to view full image" title="Click to view full image"></a></td>
      <td>{{ item.title }}</td>
      <td>{{ item.year }}</td>
      <td>{{ item.attribution }}</td>
      <td>{{ item.licence }}</td>
    </tr>
    {% endfor %}
  </table>
</div>