// origin statistics for credits
.origin {
  font-size: 1.6rem;
  margin: .2rem 0;
  width: 75%;
  span {
    background: $color-primary;
    cursor: default;
    display: inline-block;
  }
  .flag { height: 1.1rem; }
}